################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/TestingCiCd
/bin/Debug/net9.0
/.vs/ProjectEvaluation
/bin/Release/net9.0
